<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
		<link rel="stylesheet" href="/assets/css/style.css" type="text/css" />
		<title>Burgers y'all</title>
		<script src="https://code.jquery.com/jquery.js"></script>
			<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
	</head>
	<body>
		{{{ body }}}
	</body>
	<script   src="https://code.jquery.com/jquery-2.2.4.min.js"></script>
	</body>
</html>
